.filter {
    border: 2px solid red;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100% - 2rem;
    margin: 0.5rem 0;
}

@media (min-width: 720px) {
    .filter {
        width: 50%;
    }
}

